<h3>Créer un compte</h3>

<div>
    <form #f="ngForm" (ngSubmit)="registerUser()">
        <mat-form-field class="space">
            <input matInput type="text" name="email" placeholder="Votre email" [(ngModel)]="newUser.email">
        </mat-form-field>
        
        <mat-form-field class="space">
            <input matInput type="password" name="password" placeholder="Votre mot de passe" [(ngModel)]="newUser.password">
        </mat-form-field>
        
        <button type="submit" mat-raised-button color="primary">Créer un compte</button>
    </form>
</div>